atomicwrites
attrs
backcall
decorator
ipdb
ipython
ipython-genutils
jedi
more-itertools
parso
pathlib2
pexpect
pickleshare
pluggy
prompt-toolkit
ptyprocess
py
Pygments
pytest
six
termcolor
traitlets
wcwidth
